// COLORS

$title: #78532E;
$text: #24201E;

$bg-color: #FBF3EB;
$r-side-box: rgba($color: #AB8E72, $alpha: 0.3);
$l-side-box: #917157;
$line: #888888;
$icons: #78532E;

// FONT

$base-font-size: 10px;

$font-title: $base-font-size*4;
$font-size-l: $base-font-size*2.4;
$font-size-m: $base-font-size*2;
$font-size-s: $base-font-size*1.6;
$font-size-xs: $base-font-size*1.4;

$base_line_height: 1;
$base_letter_spacing: 1px;
$font-family: 'Montserrat', sans-serif;